:root {
    --yriel: #ffdd59;
    --sun: #ff9c00;
    --sea: #01cafe;
    --sand: #f9ecdc;

    --grey-light-1: #faf9f9;
    --grey-light-2: #f4f2f2;
    --grey-light-3: #e4e4e4;

    --color-text-primary: #4a4a4a;

    --gradient-primary: linear-gradient(to right bottom, var(--yriel), var(--sun));

    --shadow-dark: 0 1rem 7rem rgba(0, 0, 0, .2);
} 

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    background-image: var(--gradient-primary);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-text-primary);
    font-size: 1.8rem;
    min-height: 100vw;
}