.container {
    max-width: 120rem;
    min-height: 50rem;
    margin: 8rem auto;
    background-color: #fff;
    box-shadow: 0 1.5rem 6rem rgba(#f2709c, .2);
}

.header {
    height: 7rem;
    border-bottom: var(--line);
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;
}

.sidebar {
    border-right: var(--line);
    flex: 0 0 18%;
    font-size: 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.guesthouse-view {
    flex: 1;
}

.detail {
    font-size: 1.4rem;
    display: flex;
    padding: 4.5rem;
    background-color: var(--grey-light-1);
    border-bottom: var(--line);
}

.description {
    background-color: #fff;
    flex: 0 0 60%;
    margin-right: 4.5rem;
    box-shadow: var(--shadow-light);
    padding: 3rem;
}

.user-reviews {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}